@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
  *{  margin: 0;
    padding: 0;
  }
/* left block */
  #navbar {
   
    display: flex;
justify-content: space-between;
    height: 50px;
   
  
    /* position:fixed; */
    background-color: rgba(233, 233, 243, 0.715);
  }
  
body{
  background-color: rgb(214, 217, 230);
}
  .left li {
    font-family: 'Merriweather', serif;
    display: inline-block;

    list-style: none;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    height: 3px;
  }
  .left li, a{
    color :rgb(23, 23, 22);
  }
/*  this is right box*/
  #navbar .center {
    width: 130px;
    display: inline-block;
    /* background-color: red; */
  }

  .center img {
    padding-left: 10px;
    padding-top: 6px;
    width: 25px;
    border-radius: 5px;
  }
  .right img {
    display: inline;
    border-radius: 10px;
    width: 90px;
    padding-top: 5px;
    /* background-color: red; */
  }
  .left {
    display: flex;
  }
  li:hover {
 
    font-size: larger;
    font-weight: bold;
border-radius: 10px;
    cursor: pointer;
    background-color: rgb(222, 221, 222);
   
  }

  a{
    text-decoration: none;
  }
  .maincontent{
    background-color: rgba(198, 193, 207, 0.895);
    height:100%px;
    
  }
  .maincontent{
    display: flex;
    width: 1400px;
    height: 643px;
    margin-top: 22px;
    margin-left: 60px;
    border-radius: 20px;
    box-shadow: 2px 9px 50px #7e82c2;
}
  
   .information pre{
    font-family: 'Gloock', serif;
    font-size:30px;

  }
  .information{
 
    
    width: 362px;
    margin-left: 120px;
    margin-top: 160px;
    height: 446px;
    padding-left: 45px;

  }
  .logo{
    margin-left: 370px;
    /* background-color: red; */
    margin-top: 135px;
    height: 334px;
    width: 321px;
    padding-left: 22px;
    padding-top: 18px;
  }
  .logo img{
    width: 300px;
    
    border-radius: 190px;
  
    

  }
 
 .education table{
  font-family: 'Merriweather', serif;
  /* border:solid red; */
  margin-left: 100px;
  box-shadow: 29px 11px 30px 3px rgb(220, 174, 202);
  border-radius: 26px;
}
.education table th{
  background-color: rgb(93, 128, 133);
  border:solid rgb(36, 33, 33);
  height:30px;
}
.education table td{
  text-align: center;
  border:solid rgb(64, 53, 69);
  background-color: rgb(186, 232, 232);
 
  height: 50px;
  width: 200px;
}